<div>
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2 lg:mx-auto">
        <div class="flex flex-wrap mt-3 mb-3 px-4">
          <button class="btn btn-primary bg-blue-500 text-white mr-5 mb-3">近くのお店を探す(今後実装予定)</button>
          <div class="flex-grow">
            <%= render 'shops/search_form', q: @q, url: shops_path %>
          </div>
        </div>
        <%= image_tag 'toppage.jpg' %>
      </div>
    </div>
  </div>
</div>
