<div>
<div class="container mx-auto">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 lg:mx-auto">
      <div class="flex flex-wrap mt-3 mb-3 px-4">
        <button class="btn btn-primary bg-blue-500 text-white mr-5 mb-3">近くのお店を探す(今後実装予定)</button>
        <div class="flex-grow">
          <%= render 'posts/search_form', q: @q, url: posts_path %>
          <%= button_to '投稿', new_post_path, method: :get, class: "btn btn-primary bg-blue-500 text-white ml-5" %>
          </div>
        </div>
      <%= image_tag 'toppage.jpg' %>
    </div>
  </div>
</div>
</div>
