<div>
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/2 lg:mx-auto">
        <div class="flex flex-wrap mt-3 mb-3 px-4">
          <button class="btn btn-primary bg-blue-500 text-white mr-5 mb-3">近くのお店を探す(今後実装予定)</button>
          <div class="flex-grow">
            <%= render 'shops/search_form', q: @q, url: shops_path %>
          </div>
        </div>
        <%= image_tag 'toppage.jpg' %>
        <div id="map" style="height: 400px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

<script>
  if (typeof myMap === 'undefined') {
    var myMap;
  }
  if (typeof currentLocationMarker === 'undefined') {
    var currentLocationMarker;
  }

  if (typeof defaultLocation === 'undefined') {
    var defaultLocation = { lat: 35.68978920591743, lng: 139.70055989948156 };
  }

  // Maps JavaScript APIの読み込み
  function loadScript() {

    var existingScript = document.querySelector('script[src^="https://maps.googleapis.com/maps/api/js"]');
    if (!existingScript) {
      var script = document.createElement('script');
      script.src = `https://maps.googleapis.com/maps/api/js?key=${gon.google_maps_api_key}&callback=initMap`;
      script.async = true;
      script.defer = true;
      document.head.appendChild(script);
    }
  }

  window.addEventListener('DOMContentLoaded', function() {
    if (!window.google || !window.google.maps) {
      loadScript(); // スクリプトをロード
    } else if (typeof myMap === 'undefined') {

      // マップが初期化されていなければ初期化
      initMap();
    }
  });

  function initMap() {
    const geocoder = new google.maps.Geocoder();
    const mapElement = document.getElementById('map');
    if (!mapElement) {
      console.error("Map element not found.");
      return;
    }

    myMap = new google.maps.Map(mapElement, {
      zoom: 16,
      streetViewControl: false, // ストリートビューのボタン非表示
      mapTypeControl: false, // 地図、航空写真のボタン非表示
      fullscreenControl: false, // フルスクリーンボタン非表示
    });

    showCurrentLocation();

    //現在地をマーカーで表示
    currentLocationMarker = new google.maps.Marker({
      map: myMap,
      position: myMap.getCenter(), // 初期位置をマップの中心に設定
      title: "現在地"
    });
  }
  window.initMap = initMap;

  function showCurrentLocation(){
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          // 現在地を取得してマーカーで表示
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          if (myMap) {
            myMap.setCenter(pos);
            currentLocationMarker.setPosition(pos);
          } else {
            console.error("myMap is not initialized.");
          }
        },
        () => {
          // 位置情報の取得に失敗した場合
          alert('位置情報の取得に失敗しました。');
          if (myMap) {
            myMap.setCenter(defaultLocation);
          } else {
            console.error("myMap is not initialized.");
          }
        }
      );
    } else {
      // ブラウザが位置情報の取得をサポートしていない場合
      alert('お使いのブラウザでは位置情報の取得がサポートされていません。');
      if (myMap) {
        myMap.setCenter(defaultLocation);
      } else {
        console.error("myMap is not initialized.");
      }
    }
  }

  window.showCurrentLocation = showCurrentLocation;


</script>
