<div class="container mx-auto pt-3 px-4 mb-3">
  <div class="flex flex-wrap -mx-2">
    <div class="w-full lg:w-10/12 lg:mx-auto">
      <!-- 検索フォーム -->
      <form>
        <div class="flex mb-3">
          <button class="btn btn-primary bg-blue-500 text-white mr-20">近くのお店を探す</button>
          <input class="form-control flex-grow border" placeholder="検索ワード" type="search"/>
          <div class="ml-2">
            <input type="submit" value="検索" class="btn btn-primary bg-blue-500 text-white"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <%= image_tag 'toppage.jpg' %>
</div>
