<% content_for(:title, t('.title')) %>
<div class="text-center m-6">
  <h2><%= t('.title') %></h2>
</div>
<div class="container mb-6 pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if user_signed_in? %>
          <% if @bookmark_shops.present? %>
            <% @bookmark_shops.each do |bookmark_shop| %>
              <%= render 'shops/shop', shop: bookmark_shop %>
            <% end %>
          <% else %>
            <p><%= t('.no_bookmarks') %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
