<div class="w-full max-w-4xl mx-auto pt-3">
  <div class="flex flex-wrap justify-center">
    <div class="sm:w-full p-3">
      <!-- 検索フォーム -->
      <%= render 'search_form', q: @q, url: shops_path %>
    </div>
  </div>
  <div class="flex flex-wrap justify-center mb-3">
    <% if @shops.present? %>
      <div class="w-full m-3 px-3 max-w-3xl">
        <%= "検索結果:#{@shops.size}件" %>
      </div>
      <div class="w-full max-w-3xl">
        <%= render @shops %>
      </div>
    <% else %>
      <div class="mb-3 text-center">検索結果:0件</div>
    <% end %>
  </div>
</div>
