<div class="flex justify-center text-black">
  <div class="flex flex-col w-full max-w-md">
    <div class="flex flex-col text-center mt-10">投稿一覧</div>
    <% if @no_results %>
      <div class="lex flex-col text-center mt-6">レビュー投稿がありません</div>
    <% else %>
      <div class="flex flex-col items-center mt-6">
        <% @posts.each do |post| %>
          <%= link_to shop_post_path(post.shop, post), class: "block w-full bg-my_white p-8 rounded-lg shadow-lg mb-6" do %>
            <ul class="list-none mt-2 space-y-2">
              <li class="flex items-center space-x-2"><%= post.shop.name %></li>
              <li class="flex items-center space-x-2"><%= "評価 : 星 #{post.rating}" %></li>
              <li class="flex items-center space-x-2 mt-2"><%= l post.created_at.to_date, format: :long %></li>
            </ul>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
