<div class="m-6 text-center">
  <h1>マイページ</h1>
</div>
<div>
  <%= render 'profile' %>
  <%= render 'my_posts' %>
  <div class="m-4 text-center">
    <%= link_to likes_user_path, class: "btn btn-wide" do %>
      いいね
    <% end %>
  </div>
</div>
