<%= link_to likes_path(post_id: post.id), id: "like-button-for-post-#{post.id}", data: { turbo_method: :post }, method: :post do %>
  <i class="fa-regular fa-heart hover:text-yellow-500">
    <span class="text-sm text-gray-500 hover:text-yellow-500">いいね</span>
  </i>
<% end %>
