@tailwind base;
@tailwind components;
@tailwind utilities;
@import "top";

.wrap-vertical-alignment {
  display: flex;
  flex-flow: column;
}

/* app/assets/stylesheets/application.css または application.tailwind.css */
ul[data-autocomplete-target="results"]:empty {
  display: none;
}

/* 全体の文字色をブラウンに設定 */
body {
  @apply text-custom-brown;
  /* 文字色をブラウンに変更 */
}

/* カスタムカラー背景の例 */
header {
  @apply bg-custom-light-gray;
  /* カスタムカラーを適用 */
}

.btn {
  @apply transition-colors;
}

.btn:hover {
  @apply bg-custom-hover-brown text-white;
}
