@tailwind base;
@tailwind components;
@tailwind utilities;
@import "top";

.wrap-vertical-alignment {
  display: flex;
  flex-flow: column;
}

/* app/assets/stylesheets/application.css または application.tailwind.css */
ul[data-autocomplete-target="results"]:empty {
  display: none;
}
